body
{
    margin: 0;
    padding: 1em 1em;
    color: #330033;
    font-size: 10pt;
}

a
{ 
  color: inherit;
}

a:visited
{ 
  color: #996699;
}

#header
{ 
    border-bottom: 1px solid #cccc99;
}

#header h1
{
    padding: 0;
    margin: 0;
    color: #cccc66;
}

#footer
{
    padding: 0.1em 0.5em;
    margin-top: 1em;
    clear: both;
    border-top: 1px solid #cccc99;
    font-size: 77%;
    color: #666699;
}

#content-container
{
    margin: 2em 0.5em;
}

#nav
{
    position: relative;
    float: left;
    width: 10em;
}

#menu, #pastings
{
    list-style: url(/paste/pasting.gif);
    padding: 0 0 0 18px;
    margin-top: 0;
}

#content
{
    margin-left: 10em;
}

div.pastingText
{
  padding: 0.5em;
  background-color: #fafafa;
  color: #333;
  border: 1px solid #ccc;
  overflow: auto;
}

div.pastingText pre
{ 
  margin: 0;
}

.revision-history
{ 
  font-size: 86%;
}

.view-menu
{
  list-style: none;
  margin: 1em 0;
  padding: 0;
}

.view-menu li
{
  display: inline;
  margin-right: 1em;
}

.view-menu li a
{ 
  color: inherit;
}

.searchresult
{
  border-style: dotted; 
  border-width: 2px; 
  border-color: gray;
  margin: 4px;
}
