## -*- coding: utf-8 -*-
<%inherit file="base.html"/>

<%def name="content()">
	<div class="freeform-form">
		<form name="addPasting" method="post" accept-charset="utf-8" action="/paste/add_pasting" id="addPasting" enctype="multipart/form-data">
			<fieldset>
				<input type="hidden" name="_charset_"><legend class="freeform-form-label">Add Pasting</legend>
				<div class="freeform-form-description"></div>
				<label class="freeform-label" for="addPasting-author">Author</label>
				<span class="freeform-input">
				    <input id="addPasting-author" type="text" class="freeform-input-text" value=${author} name="author"/>
				</span>
				
				<!-- <div class="freeform-description"></div> -->
				<label class="freeform-language-label" for="addPasting-language">Language<br> <font color="RED">Optional</font></label>
				<!-- <span class="freeform-language"> -->
					<select id="addPasting-language" class="freeform-language-text" name="language" value=${paste_language}>
					% for language in language_list:
					    % if language != paste_language:
					        <option>${language}</option>
					    % else:
					        <option selected>${language}</option>
					    % endif
				    % endfor	 
					</select>
                      </span>

				<!-- <div class="freeform-description"></div> -->
				<label class="freeform-channel-label" for="addPasting-channel">Channel<br> <font color="RED">Optional</font></label>
				<!-- <span class="freeform-channel"> -->
					<select id="addPasting-channel" class="freeform-channel-text" name="channel" >
					% for channel in channel_list:
					    % if channel != paste_channel:
					        <option>${channel}</option>
					    % else:
					        <option selected>${channel}</option>
					    % endif
				    % endfor	 
					</select>
                      </span>
				
				<div class="freeform-description"></div>
				<label class="freeform-label" for="addPasting-title">Title<br> <font color="RED">Optional</font></label>
				<span class="freeform-title">
				    <input id="addPasting-title" class="freeform-title-text" name="title" value=${title} /> 
                      </span>

				<div class="freeform-description"></div>
				<div class="freeform-form">
					<label class="freeform-label" for="addPasting-text">${rendered_text}</label>
				</div>
				
				<div class="freeform-description"></div>
				<label class="freeform-label" for="addPasting-text">Text</label>
				<span class="freeform-input">
				    <textarea id="addPasting-text" rows="8" class="freeform-textarea" name="text" cols="60">${text}
</textarea>             
                      </span>
				
				<div class="freeform-description"></div>
				<input type="submit" class="freeform-button" value="Add Pasting" name="submission_type">
				<input type="submit" class="freeform-button" value="Preview" name="submission_type">
			</fieldset>
		</form>
	</div>
</%def>