## -*- coding: utf-8 -*-
<%inherit file="base.html"/>

<%def name="content()">
    <div class="freeform-form">
		% for result in results:
       	    <fieldset>
	            <label class="freeform-label" for="addPasting-title">${result['id']} by ${result['author']}</label><br>
	            <a href="${base_url}/paste/show/${result['id']}">${result['title']}</a>
	        </fieldset>
        % endfor
    </div>
</%def>
